<div class="container">

<h1 class="page-header" >Painting Gallery</h1>
<div id="paintings">
<%= render @paintings %>
</div>
<div class="clear"></div>

<%= direct_upload_form_for @uploader do |f| %>
<p><%= f.file_field :image %></p>
<p><%= f.submit "Upload Image" %></p>
<% end %>
    </div>

  <div class="clear"></div>
  <br>
  <%= direct_upload_form_for @uploader do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Upload Image", class:"btn btn-default btn-lg" %></p>
  <% end %>
</div>
