<div class="container">

<h1 class="page-header" >Painting Gallery</h1>
    <div class="row">
      <% @pictures.each do |picture| %>
        <div class="col-md-6">
          <ul>
            <%= picture.title %>
            <%= image_tag picture.image_url(:thumb).to_s %>
          </ul>
        </div>
      <% end %>
    </div>

  <div class="clear"></div>
  <br>
  <%= direct_upload_form_for @uploader do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Upload Image", class:"btn btn-default btn-lg" %></p>
  <% end %>
</div>
